body{
    background-color: black;
    color: antiquewhite;
    text-align: center;
}
p{
    font-family:'Times New Roman', Times, serif;
}
h4{
    font-size: larger;
}
link{
    font-size: larger;
}
#ram{
    width: 1200px;
}
.bild{
    float: right;
}
#fakta{

}
#mat_räka{
    float: right;
}
#fakta_ruta{
    float: right;
    width: 500px;
}