body{
    background-color: antiquewhite;
}
p{
    font-size: large;
}

#ram{
    margin: 1% 5% 0% 5%;
}
#simmning{
    padding: 10%;
}

#phelps{
    float: left;
    margin: 0% 2% 2% 0;
}
#faktaruta{
    float: right;    
}

table{
    float: left;
    background-color: darkgrey;
    border-collapse: collapse;
    margin: 40px auto;
    border: 1px solid black;
}
td, th{
    padding: 8px;
}
td{
    border: 1px solid black;
}
th{
    text-align: left;
    background-color: lightgray;
}
tr:nth-child(even){
    background-color: lightgray;
}
